#page_main{
    h2{
        text-align: center;
    }
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
    #read_more{
        height: 100px;
        width: 100px;
        margin: 0px 130px ;
    }
    #dog{
        width: 70%;
        margin: 20px 100px 100px 60px;
    }
    div{
        background-color: rgb(255, 230, 0);
    }
}